// Home Page
@media (max-width: 695px) {
  .header {
    font-size: 13px;
  }

  .search-filter {
    flex-direction: column;
    align-items: flex-start;

    &__input {
      width: 100%;
      margin-bottom: 2rem;
    }

    &__dropdown {
      margin: 0 auto;
      font-size: 12.5px;
      padding: 0 5px;
    }
  }

  .countries {
    gap: 3rem;
    width: 80%;
    margin: 0 auto 3rem;
  }

  .countries-shown {
    font-size: 12.5px;

    &.top {
      text-align: center;
    }
  }
}

// Details Page
@media (max-width: 1250px) {
  .details {
    &__info {
      &__facts {
        flex-direction: column;

        &__col-2 {
          // don't think this does anything useful anymore
          width: clamp(50%, calc(1000px - 40vw), 100%);
        }
      }

      &__borders {
        margin-top: 4rem;
        // white-space: pre-wrap;
        &__item {
          &:first-of-type {
            margin: 8px;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .details {
    flex-direction: column;

    &__flag {
      width: clamp(50%, calc(300px + 40vw), 100%);
    }

    &__info {
      width: 100%;
      &__name {
        margin-top: 4rem;
      }

      &__facts {
        line-height: 2.2;
      }

      &__borders {
        white-space: nowrap;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  .back-btn {
    margin: 2.5rem 0 4rem;

    &__arrow {
      font-size: 18px;
    }

    &__text {
      font-size: 13px;
    }
  }
}
