@mixin extend-background($color) {
  content: '';
  background-color: $color;
  position: absolute;
  height: 100%;
  width: 200vw;
  left: -100vw;
  z-index: -1;
}

@mixin font-stack() {
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  max-width: clamp(50vw, 2200px, 90vw);
  margin: 0 auto;
  padding: 0 1rem;
}

.fw-600 {
  font-weight: 600;
}

.btn {
  @include font-stack();
  font-size: 13px;
  padding: 8px 24px;
  background-color: var(--clr-elements);
  color: var(--clr-text);
  cursor: pointer;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-btn);
  outline: none;
  border: none;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.btn-show-more-container {
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
}

.btn-show-more {
  border-radius: var(--border-radius-circle);
}

.cursor-default {
  cursor: default;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;

  &.home {
    margin-top: 5rem;
  }
}

.page-not-found {
  letter-spacing: 2px;
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

// Safari column-gap workaround
_::-webkit-full-page-media,
_:future,
:root .details > * + * {
  margin-left: 8rem;
}

_::-webkit-full-page-media,
_:future,
:root .details__info__facts > * + * {
  margin-left: 3rem;
}
