@mixin extend-background($color) {
  content: '';
  background-color: $color;
  position: absolute;
  height: 100%;
  width: 200vw;
  left: -100vw;
  z-index: -1;
}

@mixin font-stack() {
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  max-width: clamp(50vw, 2200px, 90vw);
  margin: 0 auto;
  padding: 0 1rem;
}

.fw-600 {
  font-weight: 600;
}

.btn {
  @include font-stack();
  padding: 8px 24px;
  background-color: var(--clr-elements);
  color: var(--clr-text);
  cursor: pointer;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-btn);
  outline: none;
  border: none;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
  // border-radius: var(--border-radius-circle);
  box-shadow: var(--box-shadow-btn-back);

  &__arrow {
    font-size: 22px;
    margin-right: 10px;
    // transform: translateY(1px);
  }

  &__text {
    font-size: 14.5px;
  }
}

.show-more-btn-container {
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
}

.show-more-btn {
  border-radius: var(--border-radius-circle);
}

.cursor-default {
  cursor: default;
}

.scroll-to-top-btn {
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 40px;
  right: 1%;
  // background-color: var(--clr-text);
  width: 40px;
  height: 40px;
  border-radius: 100px;
  transition: all 0.3s ease;
  box-shadow: var(--box-shadow);
  & i {
    color: var(--clr-text);
    margin-top: 2px;
    font-size: 19px;
    transition: all 0.3s ease;
  }
}

// Safari column-gap workaround
_::-webkit-full-page-media,
_:future,
:root .details > * + * {
  margin-left: 8rem;
}

_::-webkit-full-page-media,
_:future,
:root .details__info__facts > * + * {
  margin-left: 3rem;
}

@media (max-width: 1250px) {
  _::-webkit-full-page-media,
  _:future,
  :root .details__info__facts > * + * {
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  _::-webkit-full-page-media,
  _:future,
  :root .details > * + * {
    margin-left: 0;
  }
}
