@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;500;700&display=swap');

@import 'include-media';
@import 'utilities';

// Filter Menu UI with sorting & mobile layout
// Filter menu icon & pagination pages layout on mobile
// Pagination arrows? Prev, next, beginning, end
// Keyboard accessibility

:root {
  --clr-background: #fafafa;
  --clr-elements: #fff;
  --clr-elements-inverse: #2b3945;
  --clr-elements-hover: #f0f0f0;
  --clr-text: #111517;
  --clr-input: #858585;
  --clr-outline: #bbb;
  --clr-filter-menu: #eee;
  --clr-dropdown-hover: #ccc;

  --border-radius: 3px;
  --border-radius-circle: 1000px;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px;
  --box-shadow-hover: rgba(99, 99, 99, 0.2) 0px 4px 16px;
  --box-shadow-btn: rgba(0, 0, 0, 0.6) 0px 0px 10px -3px;
  --box-shadow-solid: rgba(200, 200, 200, 0.8) 0px 0px 2px 1px;

  --checkmark: url('/images/check.svg');
}

.darkmode {
  // --clr-background: #202c37;
  // --clr-elements: #2b3945;

  --clr-background: #192734;
  --clr-elements: #22303c;

  --clr-elements-inverse: #f9f9f9;
  --clr-elements-hover: #1d2933;
  --clr-text: #f9f9f9;
  --clr-input: #f9f9f9;
  --clr-outline: black;
  --clr-filter-menu: #1f2c36;
  --clr-dropdown-hover: #1b252e;

  --box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
  --box-shadow-hover: rgba(0, 0, 0, 0.24) 0px 4px 16px;
  --box-shadow-solid: rgba(0, 0, 0, 0.4) 0px 0px 5px 1px;

  --checkmark: url('/images/check-white.svg');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  scrollbar-color: var(--scrollbar-color);
}

body {
  @include font-stack;
  font-size: 14px;
  background-color: var(--clr-background);
  color: var(--clr-text);
  overflow-x: hidden;
  position: relative;
  letter-spacing: 0.8px;
  font-weight: 300;
  min-height: 100%;
}

a {
  color: var(--clr-text);
  text-decoration: none;
}

button {
  color: var(--clr-text);
}

.capitalize {
  text-transform: capitalize;
}

// HEADER COMPONENT
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-elements);
  padding: 1.2rem 0;
  // box-shadow: var(--box-shadow);

  @include media('<=small') {
    font-size: 12px;
  }

  &::before {
    @include extend-background(var(--clr-elements));
    box-shadow: var(--box-shadow);
  }

  &__text {
    color: var(--clr-text);
  }

  &__theme-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &__icon,
    &__text {
      padding: 0 3px;
    }

    &__icon {
      margin-top: 3px;
    }

    &__text {
      font-weight: 500;
    }
  }
}

// SEARCH FILTER COMPONENT
.search-filter {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 1.5rem;
  position: relative;
  z-index: 6;

  @include media('<=small') {
    position: initial;
    margin: 0;
    margin: 2rem 0 0.5rem;
  }

  &__input {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: clamp(15vw, 400px, 40vw);
    height: 40px;
    background-color: var(--clr-elements);
    color: var(--clr-text);
    padding: 1.2rem 0 1.2rem 1rem;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-circle);
    border: 2px solid transparent;
    transition: border 0.25s ease;

    @include media('<=small') {
      width: 100%;
      margin-bottom: 1rem;
    }

    .search-bar-dropdown {
      position: absolute;
      font-size: 15px;
      font-weight: 500;
      height: 200px;
      width: 95%;
      top: 125%;
      right: 50%;
      z-index: 1;
      overflow-y: scroll;
      transform: translateX(50%);
      background-color: var(--clr-filter-menu);
      border-radius: var(--border-radius);
      padding: 0 10px;
      transition: all 0.3s ease-out;
      //
      opacity: 0;
      visibility: hidden;
      height: 0;

      // @include media('<=small') {
      //   font-size: 14px;
      // }

      &.show-dropdown {
        opacity: 1;
        visibility: visible;
        height: 200px;
      }

      .dropdown-country {
        display: flex;
        width: 100%;
        cursor: pointer;
        padding: 15px 10px;
        transition: all 0.2s ease;
        border-radius: var(--border-radius);

        @include media('<=small') {
          padding: 10px;
        }

        .country-flag {
          width: 30px;
          height: 20px;
        }

        .country-name {
          margin-left: 15px;
        }

        &:hover {
          background-color: var(--clr-dropdown-hover);
        }
      }
    }

    &__icon,
    &__text {
      padding: 0 3px;
    }

    &__icon {
      margin: 3px 6px 0;
    }

    &__text {
      @include font-stack;
      font-size: 14px;
      height: inherit;
      border: none;
      outline: none;
      background-color: transparent;
      color: var(--clr-text);
      width: 100%;
      font-weight: 300;
      letter-spacing: 0.75px;

      &::placeholder {
        color: var(--clr-input);
        opacity: 1;
        letter-spacing: 0.5px;
      }
    }

    .search-close-icon {
      width: 0;
      height: 0;
      cursor: pointer;
      margin-right: 15px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.1s ease;

      &.show-close {
        opacity: 0.5;
        visibility: visible;
        width: 23px;
        height: 23px;
      }

      &:hover {
        opacity: 0.75;
      }
    }

    &:focus-within {
      border: 2px solid var(--clr-outline);
    }
  }
}

// FILTER ICON
.filter-wrapper {
  height: 45px;
  width: 45px;
  cursor: pointer;
  transform: rotate(270deg);
  display: grid;
  place-items: center;

  @include media('<=small') {
    height: 60px;
    width: 60px;
    position: fixed;
    left: 30px;
    bottom: 30px;
    z-index: 10;
    background-color: var(--clr-elements);
    border-radius: var(--border-radius-circle);
    box-shadow: var(--box-shadow-btn);
  }

  .filter-icon {
    width: 100%;
    height: 100%;
    color: var(--clr-text);

    @include media('<=small') {
      width: 40%;
      height: 40%;
      position: relative;
    }
  }
}

// FILTER MENU
.filter-menu {
  z-index: 20;
  // position: absolute;
  position: fixed;
  top: 75px;
  right: 0;
  // width: 450px;
  width: 300px;
  width: 250px;
  // height: 300px;
  transform: translateX(32vw);
  background-color: var(--clr-filter-menu);
  transition: transform 0.35s ease-out;
  padding: 1.5rem 0.5rem;
  border-radius: var(--border-radius);

  @include media('<=small') {
    top: 129px;
    transform: translateX(350px);
    transform: translateX(0);
    height: 255px;
    overflow-y: scroll;
  }

  &.filter-open {
    transform: translateX(5vw);
  }

  > h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 1rem;
    cursor: default;

    @include media('<=small') {
      font-size: 20px;
    }
  }

  .filter-categories {
    display: flex;
    justify-content: space-between;
    font-size: 16px;

    @include media('<=small') {
      font-size: 15px;
    }

    .filter-category {
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      align-items: center;
      // width: 50%;
      width: 100%;

      > p {
        margin-bottom: 1rem;
        font-weight: 500;
        cursor: default;
        user-select: none;
      }

      .btn-open-category {
        width: 30px;
        height: 100%;
      }

      &.population-category {
        input {
          width: 90px;
          height: 30px;
          padding: 3px;
        }
      }

      &.region-category {
        .option {
          width: 150px;

          .top-layer {
            display: flex;
            align-items: center;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            label {
              width: 70px;
              position: relative;

              &::before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -26px;
                // width: 18px;
                // height: 18px;
                width: 14px;
                height: 14px;
                border-radius: 3px;
                background-color: var(--clr-elements);
                border: 1px solid var(--clr-text);
                transition: all 0.5s ease;
              }
            }

            > * {
              margin: 4px 0;

              @include media('<=small') {
                margin: 2px 0;
              }
            }

            input {
              height: 20px;
              visibility: hidden;
            }

            input:checked + label::before {
              content: '';
              background: var(--checkmark) no-repeat center center/cover;
            }

            .dropdown {
              height: 28px;
              width: 28px;
              margin-left: auto;
              cursor: pointer;
              transition: all 0.35s ease;
            }

            .turn-enter-done {
              transform: rotate(-180deg);
            }
          }

          .bottom-layer {
            font-size: 14px;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            //
            max-height: 0;
            opacity: 0;
            visibility: hidden;
            transition: all 0.35s ease;

            @include media('<=small') {
              font-size: 13px;
            }

            .sub-option {
              margin: 5px 0;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              transform: translateX(16px);
              input {
                height: 15px;
                width: 15px;
              }

              label {
                margin-left: 10px;
                width: 100px;
              }
            }
          }

          .fade-enter-done {
            max-height: 150px;
            opacity: 1;
            visibility: visible;
          }

          label {
            user-select: none;
          }
        }
      }
    }
  }
}

// Countries Shown Text
.countries-shown.top {
  text-align: left;
  margin-bottom: 1.5rem;

  @include media('<=small') {
    font-size: 12px;
    text-align: center;
  }
}

.countries-shown.bottom {
  text-align: center;
  margin-bottom: 2rem;

  @include media('<=small') {
    font-size: 12px;
  }
}

@keyframes myAnimation {
  from {
    // transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

// COUNTRIES COMPONENT
.countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: clamp(60px, 4vw, 100px);
  margin-bottom: 5rem;
  position: relative;
  z-index: 5;
  // overflow: hidden; ///

  @include media('<=small') {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    max-width: 400px;
    margin: 0 auto 3rem;
  }

  &.snapper > * {
    width: clamp(256px, 100%, 315px);

    @include media('<=small') {
      margin: 0 auto;
    }
  }

  &.play-animation {
    animation: myAnimation 0.6s 0.2s;
    animation-fill-mode: backwards;
  }
}

.country {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--clr-elements);
  box-shadow: var(--box-shadow);
  height: 330px;
  border-radius: var(--border-radius);
  position: relative;

  .lazyload-wrapper {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: var(--border-radius);
  }

  &__flag {
    width: 100%;
    height: 50%;
    // height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }

  &__info {
    text-align: left;
    margin: 0 30px;
    padding: 1.5rem 0;

    @include media('<=small') {
      margin-left: 25px;
    }

    &__name {
      font-size: 18px;
      font-weight: 800;
    }

    &__details {
      list-style: none;
      margin-top: 1rem;
      line-height: 1.9;

      li span {
        font-weight: 500;
      }
    }
  }

  &:hover {
    box-shadow: var(--box-shadow-hover);
  }
}

.footer {
  position: relative;

  .scroll-btn {
    position: absolute;
    right: 20px;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-elements);
    width: 55px;
    height: 55px;
    border-radius: var(--border-radius-circle);
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 0 auto;
    padding: 8px 0 0 1px;

    .icons {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-1 {
        margin-top: 35px;
      }

      &-2 {
        transform: translateY(-33px);
      }
    }

    & i {
      color: var(--clr-text);
      font-size: 30px;
      transition: all 0.3s ease;
    }
  }
}

.country-pages {
  // background-color: skyblue;
  // margin: 0 auto;
  // height: 50px;
  margin: 0 auto 2rem;
  font-size: 18px;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
      border: 1px solid var(--clr-elements-inverse);
      width: 35px;
      // height: 35px;
      text-align: center;
      margin: 0 2px;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 8px 5px;
      }

      &.active-page {
        background-color: var(--clr-text);

        a {
          color: var(--clr-elements);
        }
      }
    }
  }
}

// DETAILS PAGE
.btn-back {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
  box-shadow: var(--box-shadow-solid);

  @include media('<=large') {
    margin: clamp(40px, 7vw, 64px) 0;
  }

  &__arrow {
    font-size: 22px;
    margin-right: 10px;

    @include media('<=large') {
      font-size: 18px;
    }
  }

  &__text {
    font-size: 14.5px;
    @include media('<=large') {
      font-size: 13px;
    }
  }
}

.details-container {
  margin-bottom: 3rem;
}

.details {
  display: flex;
  align-items: flex-start;
  column-gap: 8rem;
  font-size: 16px;

  @include media('<=large') {
    flex-direction: column;
  }

  &__flag {
    width: 50%;

    @include media('<=large') {
      width: clamp(50%, calc(275px + 30vw), 100%);
    }
  }

  &__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include media('<=large') {
      width: 100%;
    }

    &__name {
      font-size: 28px;

      @include media('<=large') {
        margin-top: clamp(40px, 7vw, 64px);
      }
    }

    &__facts {
      display: flex;
      justify-content: space-between;
      line-height: 2;
      margin-top: 2rem;
      column-gap: 3rem;

      @include media('<=large') {
        flex-direction: column;
        line-height: 2.2;
      }

      &__col-1 {
        width: 100%;
        white-space: nowrap;

        @include media('<=large') {
          white-space: pre-wrap;
        }
      }

      &__col-2 {
        width: 100%;
        white-space: normal;

        &__languages {
          @include media('<=large') {
            line-height: 2;
          }
        }
      }

      .title {
        font-weight: 500;
      }
    }

    &__borders {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 6rem;
      // white-space: nowrap;

      @include media('<=large') {
        margin-top: 4rem;
        white-space: nowrap;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
      }

      &__title {
        margin-right: 20px;
        font-weight: 500;
      }

      &__countries {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        &__item {
          background-color: var(--clr-elements);
          color: var(--clr-text);
          box-shadow: var(--box-shadow-solid);
          // border-radius: var(--border-radius-circle);
          margin: 8px 12px 8px 0;

          &__text {
            display: inline-block;
            font-size: 14.5px;
            padding: 5px 15px;
          }
        }
      }
    }
  }
}
