@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&family=Urbanist:wght@300;500;600;700;800&display=swap');

@import 'box-shadows';
@import 'include-media';
@import 'utilities';

:root {
  --clr-body-background: #fafafa;
  --clr-text: #111517;
  --clr-elements: #fff;
  --clr-elements-inverse: #22303c;
  --clr-elements-transparent: rgba(255, 255, 255, 0.96);
  --clr-element-stacked: #eee;
  --clr-element-stacked-hover: #e4e4e4;
  --clr-element-stacked-active: #ddd;
  --clr-hover: #e6e6e6;
  --clr-search-placeholder: #858585;
  --clr-outline: #b8b8b8;
  --clr-filter-line: #ddd;
  --clr-dropdown-arrow: #333;
  --clr-track: #bfc6c8;
  --border-radius: 3px;
  --border-radius-circle: 1000px;
  --checkmark: url('/checkmarks/check-white.svg');
}

.darkmode {
  --clr-body-background: #192734;
  --clr-text: #f9f9f9;
  --clr-elements: #22303c;
  --clr-elements-inverse: #fff;
  --clr-elements-transparent: rgba(34, 48, 60, 0.99);
  --clr-element-stacked: #22303c;
  --clr-element-stacked-hover: #465464;
  --clr-element-stacked-active: #465464;
  --clr-hover: #465464;
  --clr-search-placeholder: #f9f9f9;
  --clr-outline: #7e8a97;
  --clr-filter-line: #7e8a97;
  --clr-dropdown-arrow: #ddd;
  --clr-track: #b3bdc1;
  --checkmark: url('/checkmarks/check-black.svg');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  scrollbar-color: var(--scrollbar-color);
}

body {
  @include font-stack;
  font-size: 14px;
  background-color: var(--clr-body-background);
  color: var(--clr-text);
  overflow-x: hidden;
  position: relative;
  letter-spacing: 0.8px;
  font-weight: 300;
  min-height: 100%;
}

a {
  color: var(--clr-text);
  text-decoration: none;
}

button {
  color: var(--clr-text);
}

ul {
  list-style: none;
}

// - *************************************************************
// - HEADER
// - *************************************************************
.header-container {
  background-color: var(--clr-elements);
  box-shadow: var(--box-shadow-6);
}

.header {
  max-width: clamp(50vw, 2200px, 90vw);
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-elements);
  padding: 1.2rem 1rem;

  @include media('<=small') {
    font-size: 12px;
  }

  &__text {
    color: var(--clr-text);
  }

  &__theme-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &__icon,
    &__text {
      padding: 0 3px;
    }

    &__icon {
      margin-top: 3px;
    }

    &__text {
      font-weight: 500;
    }
  }
}

// - *************************************************************
// - SEARCH BAR
// - *************************************************************
.search-bar {
  margin: 3rem 0 1.5rem;
  position: relative;
  z-index: 6;

  @include media('<=small') {
    position: initial;
    margin: 0;
    margin: 2rem 0 0.5rem;

    position: -webkit-sticky;
    position: sticky;
    top: 10px;
  }

  &__input {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: clamp(15vw, 400px, 40vw);
    height: 40px;
    background-color: var(--clr-elements);
    color: var(--clr-text);
    padding: 1.2rem 0 1.2rem 1rem;
    box-shadow: var(--box-shadow-6);
    border-radius: var(--border-radius-circle);
    border: 2px solid transparent;
    transition: border 0.25s ease;

    @include media('<=small') {
      width: 100%;
      margin-bottom: 1rem;
    }

    .search-bar-dropdown {
      position: absolute;
      font-size: 15px;
      font-weight: 500;
      width: 95%;
      top: 125%;
      right: 50%;
      z-index: 1;
      overflow-y: scroll;
      transform: translateX(50%);
      background-color: var(--clr-elements);
      border-radius: var(--border-radius);
      padding: 0 10px;
      transition: opacity 0.3s ease-out, max-height 0.3s ease-out;
      box-shadow: var(--box-shadow-extra);
      opacity: 0;
      visibility: hidden;
      max-height: 0;

      @include media('<=small') {
        font-size: 14px;
      }

      &.show-dropdown {
        opacity: 1;
        visibility: visible;
        max-height: 350px;

        @include media('<=small') {
          max-height: 362px;
        }
      }

      /* hide scrollbar but allow scrolling */
      -ms-overflow-style: none; /* for Internet Explorer, Edge */
      scrollbar-width: none; /* for Firefox */
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
      }

      .dropdown-country {
        display: flex;
        width: 100%;
        cursor: pointer;
        padding: 15px 10px;
        transition: background-color 0.2s ease;
        border-radius: var(--border-radius);

        @include media('<=small') {
          padding: 10px;
        }

        .country-flag {
          width: 30px;
          height: 20px;
        }

        .country-name {
          margin-left: 15px;
        }

        &:hover {
          background-color: var(--clr-hover);
        }
      }
    }

    &__icon,
    &__text {
      padding: 0 3px;
    }

    &__icon {
      margin: 3px 6px 0;
    }

    &__text {
      @include font-stack;
      font-size: 14px;
      height: inherit;
      border: none;
      outline: none;
      background-color: transparent;
      color: var(--clr-text);
      width: 100%;
      font-weight: 300;
      letter-spacing: 0.75px;

      &::placeholder {
        color: var(--clr-search-placeholder);
        opacity: 1;
        letter-spacing: 0.5px;
      }
    }

    .search-close-icon {
      width: 0;
      height: 0;
      cursor: pointer;
      margin-right: 15px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.1s ease;

      &.show-close {
        opacity: 0.5;
        visibility: visible;
        width: 23px;
        height: 23px;
      }

      &:hover {
        opacity: 0.75;
      }
    }

    &:focus-within {
      border: 2px solid var(--clr-outline);
    }
  }
}

// - *************************************************************
// - FILTER ICON & MENU
// - *************************************************************
.filter-wrapper {
  display: none;

  @include media('<=tablet-lg') {
    display: grid;
    place-items: center;
    height: 65px;
    width: 65px;
    position: fixed;
    left: 30px;
    bottom: 30px;
    z-index: 10;
    background-color: var(--clr-elements);
    border-radius: var(--border-radius-circle);
    box-shadow: var(--box-shadow-extra);
    cursor: pointer;
    transform: rotate(270deg);
  }

  @include media('<=small') {
    height: 60px;
    width: 60px;
  }

  .filter-icon {
    width: 100%;
    height: 100%;
    color: var(--clr-text);

    @include media('<=tablet-lg') {
      position: relative;
      width: 40%;
      height: 40%;
    }

    @include media('<=small') {
      width: 40%;
      height: 40%;
    }
  }
}

.filter-menu {
  background-color: var(--clr-elements-transparent);
  --bezier: cubic-bezier(0.61, 0.21, 0.19, 0.97);
  // --bezier: cubic-bezier(0.4, 0.29, 0.19, 0.97);

  @include media('<=tablet-lg') {
    &.filter-open {
      .filter-block {
        transform: translateX(-50%) translateY(0);
      }

      .filter-content {
        transform: translateX(-50%) translateY(0);
      }
    }
  }

  &:hover {
    .filter-block {
      box-shadow: var(--box-shadow-fade);
    }
    .filter-content {
      transform: translateX(-50%) translateY(0);
    }
  }

  .filter-block {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(330px);
    z-index: 101;
    background-color: var(--clr-elements-transparent);
    width: 310px;
    height: 390px;
    border-radius: 32px 32px 0 0;
    padding: 1.5rem 0;
    transition: box-shadow 0.35s var(--bezier);
    backdrop-filter: blur(5px);

    @include media('<=tablet-lg') {
      display: none;
    }
  }

  .section-heading {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    cursor: default;
    letter-spacing: 1px;
    max-width: 200px;
    margin: 0 auto 1.5rem;

    &.main {
      @include media('>tablet-lg') {
        transform: translateY(-2px);
      }
    }
  }

  .filter-content {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(390px);
    z-index: 100;
    background-color: var(--clr-elements-transparent);
    box-shadow: var(--box-shadow-extra);
    width: 310px;
    height: 450px;
    border-radius: 32px 32px 0 0;
    padding: 1.5rem 0 5rem;
    overflow: scroll;
    transition: transform 0.35s var(--bezier), height 0.35s var(--bezier),
      width 0.35s var(--bezier);
    backdrop-filter: blur(5px);

    @include media('<=tablet-lg') {
      width: 100vw;
      height: 350px;
      transform: translateX(-50%) translateY(410px);
      padding: 1.5rem 0;
    }

    @include media('<=tablet-lg', '>small') {
      transform: translateX(-50%) translateY(560px);
      height: 500px;
    }

    /* hide scrollbar but allow scrolling */
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }

    .mobile-only {
      display: none;

      @include media('<=tablet-lg') {
        display: block;
      }
    }

    .filter-category {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .options {
        width: 100%;
      }

      .option {
        width: 75%;
        width: 250px;
        margin: 0 auto;

        &:not(:last-of-type) {
          margin-bottom: 10px;
        }

        label {
          position: relative;
          user-select: none;
          padding: 5px;
          border-radius: var(--border-radius);
          cursor: pointer;
          transition: transform 0.35s ease;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-52%);
            border-radius: var(--border-radius);
            background-color: var(--clr-elements);
            border: 1px solid var(--clr-text);
          }
        }

        input {
          visibility: hidden;

          &:checked + label {
            font-weight: 500;

            &::before {
              content: '';
              background: var(--checkmark) no-repeat center center/cover;
              background-color: var(--clr-elements-inverse);
            }
          }
        }

        .top-layer {
          font-size: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          position: relative;

          > * {
            margin: 4px 8px;
          }

          label {
            width: 71px;
            position: relative;

            &::before {
              left: -26px;
              width: 14px;
              height: 14px;
            }
          }

          input {
            height: 20px;
          }

          .dropdown {
            height: 28px;
            width: 28px;
            cursor: pointer;
            transition: transform 0.35s ease;
            color: var(--clr-dropdown-arrow);
          }

          .turn-enter-done {
            transform: rotate(180deg);
          }

          .subregion-active-marker {
            width: 10px;
            height: 3px;
            background-color: var(--clr-text);
            position: absolute;
            border-radius: var(--border-radius-circle);
            opacity: 0;
            top: 13px;
            left: -23px;
            pointer-events: none;

            &.active {
              opacity: 1;
            }
          }
        }

        .bottom-layer {
          font-size: 14px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          overflow: hidden;
          max-height: 0;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.35s ease, max-height 0.35s ease,
            padding 0.35s ease, visibility 0.35s ease;
          width: 70%;
          border-radius: 10px;

          @include media('<=tablet-lg') {
            font-size: 13px;
          }

          label {
            margin-left: 15px;

            &::before {
              left: -22px;
              width: 11px;
              height: 11px;
              transform: translateY(-53%);
            }
          }

          .sub-option {
            margin: 4px 0;
            display: flex;
            width: 145px;
            justify-content: flex-start;
            align-items: flex-start;

            margin-left: 25px;
          }
        }

        .fade-enter-done {
          max-height: 190px;
          opacity: 1;
          visibility: visible;
          padding: 6px 0;
        }
      }
    }

    .line {
      height: 2px;
      width: 80%;
      margin: 1.5rem auto;
      background-color: var(--clr-outline);
      box-shadow: var(--box-shadow-1);
      border-radius: var(--border-radius-circle);
      background-color: var(--clr-filter-line);
      width: 70%;

      @include media('<=tablet-lg') {
        width: 75%;
      }

      &.no-mb {
        margin: 1.5rem auto 0;
      }
    }

    .sort-categories {
      font-size: 15px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      user-select: none;

      li {
        border-radius: var(--border-radius-circle);
        padding: 8px 20px;
        cursor: pointer;
        transition: background-color 0.25s ease, font-weight 0.25s ease,
          box-shadow 0.25s ease;
        list-style: none;

        &:not(:last-of-type) {
          margin-bottom: 10px;
        }

        &.sort-active {
          background-color: var(--clr-hover);
          font-weight: 600;
          box-shadow: var(--box-shadow-inset);
        }

        &:hover {
          background-color: var(--clr-hover);
        }
      }
    }

    .details-category {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .details-option {
        margin: 5px 0;

        &:first-of-type {
          margin-bottom: 10px;
        }

        .dropdown-heading {
          display: flex;
          align-items: center;
          justify-content: space-between;
          user-select: none;
          background-color: var(--clr-element-stacked);
          padding: 12px 16px;
          border-radius: var(--border-radius);
          box-shadow: var(--box-shadow-7);
          cursor: pointer;
          width: 150px;

          .arrow {
            width: 18px;
            height: 18px;
            margin-left: 10px;
          }
        }

        .choices {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 10px auto 0;
          background-color: var(--clr-element-stacked);
          overflow: hidden;
          border-radius: var(--border-radius);
          box-shadow: var(--box-shadow-7);
          width: 85%;
          max-height: 0;
          visibility: hidden;
          opacity: 0;
          transition: max-height 0.25s ease, opacity 0.25s ease,
            visibility 0.25s ease, padding 0.25s ease;

          &.show {
            max-height: 120px;
            opacity: 1;
            visibility: visible;
            padding: 10px 0;
          }

          label {
            width: 85%;
            text-align: center;
            padding: 8px;
            cursor: pointer;
            border-radius: var(--border-radius);

            &:hover {
              background-color: var(--clr-element-stacked-hover);
            }
          }

          input:checked + label {
            background-color: var(--clr-element-stacked-active);
            font-weight: 600;
            box-shadow: var(--box-shadow-inset-light);
          }
        }
      }

      input {
        display: none;
      }
    }

    .countries-heading {
      margin-bottom: 0.75rem;
    }

    .countries-per-page {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2.25rem;

      &-value {
        margin-bottom: 1rem;
        font-size: 24px;
        font-size: 26px;
        cursor: default;
      }

      &-input {
        -webkit-appearance: none;
        background-color: var(--clr-track);
        border-radius: 5px;
        cursor: pointer;
        width: 200px;
        height: 10px;

        @include media('<=tablet-lg') {
          width: 250px;
          height: 12px;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          border-radius: 50%;
          background-color: white;
          cursor: grab;
          box-shadow: 0 0 10px 0px var(--clr-track);
          transition: height 0.35s ease, width 0.35s ease, box-shadow 0.35s ease;
          height: 22px;
          width: 22px;
          border: none;

          @include media('<=tablet-lg') {
            height: 25px;
            width: 25px;
          }

          &:hover {
            width: 25px;
            height: 25px;
            box-shadow: 0 0 10px 3px var(--clr-track);
          }
        }

        &::-moz-range-thumb {
          border-radius: 50%;
          background-color: white;
          cursor: grab;
          box-shadow: 0 0 10px 0px var(--clr-track);
          transition: height 0.35s ease, width 0.35s ease, box-shadow 0.35s ease;
          height: 22px;
          width: 22px;
          border: none;

          @include media('<=tablet-lg') {
            height: 25px;
            width: 25px;
          }

          &:hover {
            width: 25px;
            height: 25px;
            box-shadow: 0 0 10px 3px var(--clr-track);
          }
        }
      }
    }

    .reset-category {
      display: flex;
      color: var(--clr-text);

      .reset-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        margin: 0 auto;
        background-color: var(--clr-element-stacked);
        cursor: pointer;
        transition: background-color 0.35s ease;
        user-select: none;
        text-transform: uppercase;
        font-weight: 800;
        box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
        color: var(--clr-text);

        .reset-icon {
          margin-left: 7px;
          width: 18px;
          height: 18px;
          transform: scaleX(-1);

          path {
            stroke: var(--clr-text);
          }
        }

        &:hover {
          background-color: var(--clr-element-stacked-hover);
        }
      }
    }
  }
}

// - *************************************************************
// - COUNTRIES GRID
// - *************************************************************
.countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: clamp(60px, 4vw, 100px);
  margin-bottom: 5rem;
  position: relative;
  z-index: 5;

  @include media('<=small') {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    max-width: 400px;
    margin: 0 auto 3rem;
  }

  &.snap {
    > * {
      width: clamp(256px, 100%, 315px);

      @include media('<=small') {
        margin: 0 auto;
      }
    }
  }
}

// - *************************************************************
// - COUNTRY CARD
// - *************************************************************
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.country {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--clr-elements);
  box-shadow: var(--box-shadow-main);
  height: 330px;
  border-radius: 5px;
  position: relative;
  transition: transform 0.35s;
  animation: 250ms fadeIn ease-out;

  &__flag {
    width: 100%;
    height: 50%;
    object-fit: cover;
    box-shadow: var(--box-shadow-main);
  }

  &__info {
    text-align: left;
    margin: 0 30px;
    padding: 1.5rem 0;

    @include media('<=small') {
      margin-left: 25px;
    }

    &__name {
      font-family: 'Ubuntu';
      font-weight: 500;
      font-size: 19px;
    }

    &__details {
      list-style: none;
      margin-top: 1rem;
      line-height: 1.9;

      li span {
        font-weight: 500;
      }
    }
  }

  .flag-line {
    --bezier: cubic-bezier(0.45, 0.11, 0.31, 0.63);
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: -2px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
    margin: 0 auto;
    box-shadow: var(--box-shadow-3);
    border-radius: 0 0 10px 10px;
  }

  @include media('>small') {
    &:hover {
      transform: translateY(-20px);
    }
  }

  &:hover {
    .flag-line {
      opacity: 1;
    }
  }
}

// - *************************************************************
// - FOOTER
// - *************************************************************
.footer {
  position: relative;
  margin-bottom: 6rem;
}

.countries-shown.top {
  text-align: left;
  margin-bottom: 1.5rem;

  @include media('<=small') {
    font-size: 12px;
    text-align: center;
  }
}

.countries-shown.bottom {
  text-align: center;
  margin-bottom: 2rem;

  @include media('<=small') {
    font-size: 12px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 2rem;

  .arrow {
    font-size: 24px;
    cursor: pointer;

    &.arrow-back {
      margin-right: 12px;
    }

    &.arrow-forward {
      margin-left: 12px;
    }
  }

  .country-pages {
    font-size: 18px;

    @include media('<=small') {
      font-size: 14px;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 35px;
        margin: 0 2px;
        border: 1px solid var(--clr-elements-inverse);
        border-radius: 2px;
        box-shadow: var(--box-shadow-1);

        @include media('<=small') {
          width: 25px;
        }

        a {
          display: block;
          width: 100%;
          height: 100%;
          padding: 8px 5px;

          @include media('<=small') {
            padding: 5px;
          }
        }

        &.active-page {
          background-color: var(--clr-text);

          a {
            color: var(--clr-elements);
          }
        }
      }

      .dots {
        margin: 0 3px;
        font-size: 30px;
        font-weight: 500;
      }
    }
  }
}

// - *************************************************************
// - SCROLL BUTTON
// - *************************************************************
.scroll-btn {
  display: none;

  @include media('<=tablet-lg') {
    position: fixed;
    display: grid;
    place-items: center;
    height: 65px;
    width: 65px;
    padding: 8px 0 0 1px;
    right: 30px;
    bottom: 30px;
    z-index: 10;
    background-color: var(--clr-elements);
    border-radius: var(--border-radius-circle);
    box-shadow: var(--box-shadow-extra);

    .arrow-up {
      color: var(--clr-text);
      width: 45%;
      height: 45%;
      transform: translateY(-2px);
    }
  }

  @include media('<=small') {
    height: 60px;
    width: 60px;
  }
}

// - *************************************************************
// - DETAILS PAGE
// - *************************************************************
.details-container {
  margin-bottom: 3rem;
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8rem;
  font-size: 16px;

  @include media('<=large') {
    display: flex;
    flex-direction: column;
  }

  &__flag {
    width: 100%;

    @include media('<=large') {
      width: clamp(50%, calc(275px + 30vw), 100%);
    }
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include media('<=large') {
      width: 100%;
    }

    &__name {
      font-size: 30px;
      font-family: 'Ubuntu';

      @include media('<=large') {
        margin-top: clamp(40px, 7vw, 64px);
      }
    }

    &__facts {
      display: flex;
      justify-content: space-between;
      line-height: 2;
      margin-top: 2rem;
      column-gap: 3rem;

      @include media('<=large') {
        flex-direction: column;
        line-height: 2.2;
      }

      &__col-1 {
        width: 100%;
        white-space: nowrap;

        @include media('<=large') {
          white-space: pre-wrap;
        }
      }

      &__col-2 {
        width: 100%;
        white-space: normal;

        &__languages {
          @include media('<=large') {
            line-height: 2;
          }
        }
      }

      .title {
        font-weight: 500;
      }
    }

    &__borders {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 6rem;

      @include media('<=large') {
        margin-top: 4rem;
        white-space: nowrap;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
      }

      &__title {
        margin-right: 20px;
        font-weight: 500;
      }

      &__countries {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        &__item {
          background-color: var(--clr-elements);
          color: var(--clr-text);
          box-shadow: var(--box-shadow-2);
          border-radius: 1px;
          margin: 8px 12px 8px 0;
          transition: box-shadow 0.2s ease-out;

          &__text {
            display: inline-block;
            font-size: 14.5px;
            padding: 5px 15px;
          }

          &:hover {
            box-shadow: var(--box-shadow-5);
          }

          &.no-hover {
            &:hover {
              box-shadow: var(--box-shadow-2);
            }
          }
        }
      }
    }
  }
}

.btn-back {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
  box-shadow: var(--box-shadow-main);

  @include media('<=large') {
    margin: clamp(40px, 7vw, 64px) 0;
  }

  &__arrow {
    font-size: 22px;
    margin-right: 10px;

    @include media('<=large') {
      font-size: 18px;
    }
  }

  &__text {
    font-size: 14.5px;
    @include media('<=large') {
      font-size: 13px;
    }
  }
}
