@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

@import 'utilities';

:root {
  --clr-background: rgb(250, 250, 250);
  --clr-text: rgb(17, 21, 23);
  --clr-elements: rgb(255, 255, 255);
  --clr-elements-inverse: rgb(43, 57, 69);
  --clr-elements-hover: rgb(240, 240, 240);
  --clr-input: rgb(133, 133, 133);
  --border-radius: 3px;
  --border-radius-circle: 1000px;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px;
  --box-shadow-hover: rgba(99, 99, 99, 0.2) 0px 4px 16px;
  --box-shadow-btn: rgba(0, 0, 0, 0.6) 0px 0px 10px -3px;
  --box-shadow-solid: rgba(200, 200, 200, 0.8) 0px 0px 2px 1px;
}

.darkmode {
  --clr-background: rgb(32, 44, 55);
  --clr-text: rgb(255, 255, 255);
  --clr-elements: hsl(209, 23%, 22%);
  --clr-elements-inverse: rgb(255, 255, 255);
  --clr-elements-hover: rgb(35, 46, 56);
  --clr-input: rgb(255, 255, 255);
  --box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 8px;
  --box-shadow-hover: rgba(0, 0, 0, 0.24) 0px 4px 16px;
  --box-shadow-solid: rgba(0, 0, 0, 0.4) 0px 0px 5px 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  scrollbar-color: var(--scrollbar-color);
}

body {
  @include font-stack;
  font-size: 14px;
  background-color: var(--clr-background);
  color: var(--clr-text);
  overflow-x: hidden;
  position: relative;
  letter-spacing: 0.5px;
}

a {
  color: var(--clr-text);
  text-decoration: none;
}

button {
  color: var(--clr-text);
}

// HEADER COMPONENT
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-elements);
  padding: 1.2rem 0;
  // box-shadow: var(--box-shadow);

  &::before {
    @include extend-background(var(--clr-elements));
    box-shadow: var(--box-shadow);
  }

  &__text {
    color: var(--clr-text);
  }

  &__theme-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &__icon,
    &__text {
      padding: 0 3px;
    }

    &__icon {
      margin-top: 3px;
    }

    &__text {
      font-weight: 600;
    }
  }
}

// SEARCH FILTER COMPONENT
.search-filter {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 1.5rem;

  &__input {
    background-color: var(--clr-elements);
    color: var(--clr-text);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-circle);
    width: clamp(15vw, 400px, 40vw);
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.2rem 0 1.2rem 1rem;

    &__icon,
    &__text {
      padding: 0 3px;
    }

    &__icon {
      margin: 3px 6px 0;
    }

    &__text {
      @include font-stack;
      font-size: 14px;
      height: inherit;
      border: none;
      outline: none;
      background-color: transparent;
      color: var(--clr-input);
      width: 100%;

      &::placeholder {
        color: var(--clr-input);
        opacity: 1;
      }
    }
  }

  &__dropdown {
    display: flex;
    // flex-direction: column;
    position: relative;
    background-color: var(--clr-elements);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    user-select: none;

    &__item {
      display: flex;
      align-items: center;
      padding: 11px;
      padding: 11px 7px;
      cursor: pointer;

      &__text {
        text-transform: capitalize;
        font-size: 12.5px;
      }

      &__arrow {
        display: grid;
        place-items: center;
      }

      > * {
        margin: 0 10px;
      }
    }

    &__options {
      position: absolute;
      background-color: var(--clr-elements);
      color: var(--clr-text);
      width: 150px;
      overflow: hidden;
      top: 47px;
      right: 50%;
      transform: translateX(50%);
      box-shadow: var(--box-shadow);
      border-radius: var(--border-radius);
      z-index: 600;

      &.hidden {
        max-height: 0;
        opacity: 0;
      }

      &__item {
        padding: 10px;
        // cursor: default;

        &__input {
          display: none;
        }

        &__label {
          cursor: pointer;
          pointer-events: none; // do not remove - needed for dropdown functionality
          text-transform: capitalize;
        }

        &:hover {
          background-color: var(--clr-elements-hover);
        }
      }
    }
  }
}

// Countries Shown Text
.countries-shown.top {
  text-align: left;
  margin-bottom: 1.5rem;
}

.countries-shown.bottom {
  text-align: center;
  margin-bottom: 2rem;
}

// COUNTRIES COMPONENT
.countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: clamp(60px, 4vw, 100px);
  margin-bottom: 5rem;

  &.snapper > * {
    width: clamp(256px, 100%, 315px);
  }
}

.country {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--clr-elements);
  box-shadow: var(--box-shadow);
  height: 330px;
  border-radius: var(--border-radius);

  &__flag {
    width: 100%;
    height: 50%;
    object-fit: cover;
    // justify-self: flex-start;
    border-radius: var(--border-radius);
  }

  &__info {
    text-align: left;
    margin-left: 30px;
    padding: 1.5rem 0;

    &__name {
      font-size: 17px;
    }

    &__details {
      list-style: none;
      margin-top: 1rem;
      line-height: 1.9;
    }
  }

  &:hover {
    box-shadow: var(--box-shadow-hover);
  }
}

.footer {
  position: relative;

  .scroll-btn {
    position: absolute;
    right: 20px;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-elements);
    width: 55px;
    height: 55px;
    border-radius: var(--border-radius-circle);
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 0 auto;
    padding: 8px 0 0 1px;

    .icons {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-1 {
        margin-top: 35px;
      }

      &-2 {
        transform: translateY(-33px);
      }
    }

    & i {
      color: var(--clr-text);
      font-size: 30px;
      transition: all 0.3s ease;
    }
  }
}

// DETAILS PAGE
.btn-back {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
  box-shadow: var(--box-shadow-solid);

  &__arrow {
    font-size: 22px;
    margin-right: 10px;
  }

  &__text {
    font-size: 14.5px;
  }
}

.details {
  display: flex;
  align-items: flex-start;
  margin-bottom: 3rem;
  column-gap: 8rem;
  font-size: 16px;

  &__flag {
    width: 50%;
  }

  &__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__name {
      font-size: 26px;
    }

    &__facts {
      display: flex;
      justify-content: space-between;
      line-height: 2;
      margin-top: 2rem;
      column-gap: 3rem;

      &__col-1 {
        width: 100%;
        white-space: nowrap;
      }

      &__col-2 {
        width: 100%;
        white-space: normal;
      }
    }

    &__borders {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 6rem;
      // white-space: nowrap;

      &__title {
        margin-right: 20px;
      }

      &__countries {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        &__item {
          background-color: var(--clr-elements);
          color: var(--clr-text);
          box-shadow: var(--box-shadow-solid);
          // border-radius: var(--border-radius-circle);
          margin: 8px 12px 8px 0;

          &__text {
            display: inline-block;
            font-size: 14.5px;
            padding: 5px 15px;
          }
        }
      }
    }
  }
}

@import 'media';
